.Container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.switcher {
  margin-bottom: 12px;
}

.configContainer {
  display: flex;
  justify-content: space-around;
  margin-bottom: 1rem;
}
